// Icons
@import './fonts/icomoon-v1.0/style.css';

// Playfair Display
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

// Benton Sans
@font-face {
    font-family: 'Benton Sans';
    src: url('./fonts/BentonSans\ Thin.otf') format("opentype");
    font-weight: 100;
	font-style: normal;
}
@font-face {
    font-family: 'Benton Sans';
    src: url('./fonts/BentonSans\ Light.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Benton Sans';
    src: url('./fonts/BentonSans\ Regular.otf') format("opentype");
    font-weight: 400;
	font-style: normal;
}
@font-face {
    font-family: 'Benton Sans';
    src: url('./fonts/BentonSans\ Medium.otf') format("opentype");
    font-weight: 500;
	font-style: normal;
}
@font-face {
    font-family: 'Benton Sans';
    src: url('./fonts/BentonSans\ Bold.otf') format("opentype");
    font-weight: 700;
	font-style: normal;
}