body {
	font-family: "Benton Sans";
	font-size: 12px;
	line-height: 1.8;
    font-weight: 400;
	color: #fff;
	background-color: $black; 
}
/* -----------------WRAPPER-------------------  */
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 100%;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
[class*="__container"] {
	padding: 0 calc(50% - 600px);
}
