.main__mountain {
	margin-bottom: 112px;
}
@media (max-width: 992px) {
	.main__mountain {
		margin-bottom: 50px;
		padding: 0px 20px;
	}
}
.mountain {
	position: relative;
	overflow: hidden;
}
.mountain__bg-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top center;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(
			to bottom,
			rgba(39, 39, 41, 1),
			rgba(39, 39, 41, 0.2),
			$black
		);
		z-index: 1;
	}
}
.mountain__container {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	padding: 0px 0px 30px calc(50% - 450px);
}
.mountain__title {
	font-size: 52px;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 42px;
}
@media (max-width: 992px) {
	.mountain__title {
		margin-bottom: 24px;
	}
}
.mountain__text {
	font-weight: 500;
	max-width: 380px;
	min-height: 170px;
}
@media (max-width: 992px) {
	.mountain__text {
		max-width: 100%;
		min-height: auto;
		margin-bottom: 16px;
	}
}
.mountain__collections {
	display: flex;
	flex-direction: column;
	gap: 56px;
}
@media (max-width: 992px) {
	.mountain__collections {
		gap: 40px;
	}
}
@media (max-width: 768px) {
	.mountain__collections {
		gap: 20px;
	}
}
.mountain__collection {
}
.col-mount {
	display: flex;
	flex-direction: row;
	gap: 190px;
	padding-bottom: 56px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 992px) {
	.col-mount {
		gap: 50px;
		padding-bottom: 40px;
	}
}
@media (max-width: 768px) {
	.col-mount {
		flex-direction: column-reverse;
		gap: 30px;
		padding-bottom: 20px;
	}
}
.col-mount:last-child{
	border-bottom: none;
}
.col-mount__content {
	flex: 1 1 auto;
}
.col-mount__title {
	text-transform: capitalize;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
}
.col-mount__subtitle {
	text-transform: capitalize;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.5);
	margin-bottom: 28px;
}
.col-mount__text {
	margin-bottom: 36px;
}
@media (max-width: 992px) {
	.col-mount__text {
		margin-bottom: 16px;
	}
}
.col-mount__link {
	text-transform: capitalize;
	color: black;
	font-size: 16px;
	font-weight: 500;
	padding: 12px 36px;
	max-width: max-content;
	background-color: $yellow;
	border-radius: 36px;
	transition: all 0.2s ease;
	&:hover {
		transform: translate(-3px, -5px);
		box-shadow: 5px 5px 10px black;
	}
}
.col-mount__image {
	flex: 0 0 268px;
	height: 268px;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}
