.main__subscribe {
}
.subscribe {
}
.subscribe__container {
	min-height: 300px;
	margin: 0 auto;
	max-width: 580px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
    padding: 0;
}
.subscribe__bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top center;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: radial-gradient(circle, rgba(39, 39, 41, 0.7), $black);
		z-index: 1;
	}
}
.subscribe__text {
	font-weight: 500;
	margin-bottom: 92px;
}
.subscribe__form {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 20px;
	padding: 0 20px;
}
@media (max-width: 450px) {
	.subscribe__form {
		flex-direction: column;
		align-items: center;
	}
}
.subscribe__input {
	flex: 1 0 auto;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 500;
	color: black;
	background-color: #fff;
	border-radius: 36px;
	&::placeholder {
		font-size: 16px;
		font-weight: 500;
		color: black;
	}
	&:focus {
		outline: 2px solid $yellow;
	}
}
.subscribe__button {
	text-transform: capitalize;
	color: black;
	font-size: 16px;
	font-weight: 500;
	padding: 12px 36px;
	max-width: max-content;
	background-color: $yellow;
	border-radius: 36px;
	transition: all 0.2s ease;
	&:hover {
		transform: scale(1.1);
		box-shadow: 5px 5px 10px black;
	}
}
